*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background: #000;
}

a{
    text-decoration: none;
    color: #ffffff;
}

nav a:hover{
    color: #737373;
}

form{
    max-width: 550px;
    width: 90%;
    background: #ffffff;
    padding: 40px;
    border-radius: 5px;   
    box-sizing: border-box;
    position: relative;
    top: 8%; 
}

h1{
    margin: 0;
    text-align: center;
}

label{
    display: block;
    margin: 20px 0;

}

input, textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
}

input[type="text"]:focus, textarea:focus{
    border-bottom: 1px solid #ca2c92;
}

input[type="submit"]{
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 5px 5px 3px lightblue;
}
input[type="submit"]:hover{
    box-shadow: none;
}


.center{
    text-align: center;
}

.Navigation{
    color: #ffffff;
    background-color: #000;
    box-shadow: 2px 2px grey;
    font-family:Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
    display: flex;
    gap: 10%;
    flex-direction: row;
    justify-content: flex-end;
}

.error{
    color: red;
}

.error-border{
    border-bottom: 1px solid red;
}


#sucess{
    color: #7ed957;
    margin-top: 10px;
}

#overlay{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}



